:root{
    --bgColor: gray;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* XX-Small Devices (small phones, <380px) */
 
/* X-Small Devices (phones, ≥380px) */
@media (min-width: 380px) {
    
}

/* Small Devices (landscape phone, ≥576px) */
@media (min-width: 576px) {
    
} 

/* Medium Devices (tablets, ≥768px) */
@media (min-width: 768px) {
    
} 
  
/* Large Devices (laptops, ≥992px) */
@media (min-width: 992px) {
    
}