/* XX-Small Devices (small phones, <380px) */
.container{
    font-size: 12px;
    color: gray;
    background-color: rgba(17, 101, 212, 10%);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 -10px 10px -5px rgba(17, 101, 212, 10%); */
}
 
/* X-Small Devices (phones, ≥380px) */
@media (min-width: 380px) {
    
}

/* Small Devices (landscape phone, ≥576px) */
@media (min-width: 576px) {
    
} 

/* Medium Devices (tablets, ≥768px) */
@media (min-width: 768px) {
    
} 
  
/* Large Devices (laptops, ≥992px) */
@media (min-width: 992px) {
    
}

/* X-Large Devices (desktops, ≥1400px) */
@media (min-width: 1400px) {
    .container{
        font-size: 15px;
        height: 30px;
    }
}
  
