.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: rgb(229, 239, 248);
    position: relative;
}

.overlayLeft {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    z-index: 10;
    position: absolute;
    transition: all 0.7s ease-in-out;
}

.overlayRight {
    transform: translateX(100%);
}

.overlayLeft img {
    max-height: 90%;
    max-width: 80%;
    /* border: 1px solid black; */
}

.boxRight {
    /* border: 1px solid black; */
    height: 98%;
    width: 67%;
    margin: 0.3% 0 0.5% 0;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    right: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.7s ease-in-out;
}

.boxLeft {
    transform: translateX(-60%);
}

.h, .form, .footer {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h {
    align-items: end;
    height: 20%;
    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem); 
    font-weight: 600;
}

.form {
    height: calc(78% - 30px);
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid black; */
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20%;
    /* border: 1px solid black; */
}

.field label {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 80%);
}

.field input {
    border: none;
    /* outline: none; */
    border-radius: 10px;
    background-color: rgb(229, 239, 248);
    height: 40%;
    padding-left: 15px;
    color: rgba(0, 0, 0, 80%);
    font-size: 15px;
    font-weight: 500;
}

.field input:focus {
    outline-color: rgb(18, 102, 211);
}

.field input::placeholder {
    color: rgba(0, 0, 0, 30%);
    font-style: italic;
    font-size: 12px;
}

.btns {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 30px;
}

.submitBtn {
    width: 30%;
    height: 55%;
    margin: 0 0 8px 0;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 10%); /* Initial shadow */
}

.submitBtn:hover {
    background-color: rgb(18, 102, 211); /* Darker shade on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

.submitBtn:active {
    background-color: #004494; /* Even darker shade on active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow on active */
    transform: translateY(2px); /* Move the button down */
}

.btns span {
    font-size: 13px;
}

.visitBtn {
    text-decoration: none;
    font-weight: 800;
}

.visitBtn:hover {
    color: rgb(18, 102, 211);
}

.visitBtn:active {
    color: rgba(18, 102, 211, 40%)
}

.footer {
    height: 30px;
    font-size: 10px;
}

.containerBottom {
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* border: 1px solid black; */
}

.childContainer {
    width: 40%;
    /* transition: all 0.7s ease-in;
    transition: all 1s ease-out; */
    /* transition: opacity 2s, transform 1s; */
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.activeCreateContainer {
    /* left: -50%; */
    transform: translateX(-125%);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in, transform 0.6s ease-in;
}

.deactiveCreateContainer {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in, transform 0.6s ease-in;
}

.activeLoginContainer {
    /* right: -50%; */
    transform: translateX(125%);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in, transform 0.6s ease-in;
}

.deactiveLoginContainer {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in, transform 0.6s ease-in;
}