.container * {
    /* border: 1px solid red; */
}

.container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
}

.leftContainer {
    height: 100%;
    flex: 2;
}

.rightContainer {
    height: 100%;
    flex: 3;
}